.caret{
  border-left:5px solid transparent;
  border-right:5px solid transparent;
  border-top:5px solid  #65bee3;
  border-bottom:5px solid transparent;
  display:inline-block;vertical-align:-4px;
}
.app {
    padding: 0;
    margin: 0;
  height:100%;
}

.app .aside {
  float: left;
  width: 200px;
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 2;
  padding-top: 54px;
  box-sizing: border-box;
  border-right: 1px solid #65bee3;
  color:#65bee3;
  font-family:"Microsoft YaHei";
}


.app .aside .caret{margin-left:8px;}
.aside ul{
  height: 600px;
  background: #FFFFFF;
  padding-left: 0;
  margin-top: 0;
}
.aside ul a li{
  color:#65bee3;
  height:60px;line-height:60px; list-style: none;
  font-size:14px;
}

.aside a {
  display: block;
  text-decoration:none;
  cursor: pointer;
}
.aside a.menuActive{
  background:#17a3d7;color:#fff;
}
.aside a li{padding-left:50px;border-bottom: 1px solid #E5E5E5;}
.aside  ul a.menuActive li{color:#fff;}
.app .aside a.menuActive  .caret{border-top-color:#fff}

.aside ul a li:hover {
  background-color: #DCF4FF;color:#65bee3;
}
.aside ul a li:hover  .caret{
  border-top-color:#65bee3;
}

.aside a .childMenu a li{
  background:#eee;
  color:#666;padding-left:60px;
}
.aside a .childMenu a li:hover,.aside a .childMenu a.menuActive  li:hover {
  color:#999;
}

.aside a .childMenu a.menuActive  li{
  background-color: #dedede;
}
.aside a .childMenu a.menuActive  li:hover{
  background:#eee;
}


/*
.aside .selected:hover {
  background-color: #17A3D8;
}

.aside .selectedItem {
  background-color: #17A3D8;
}

.aside .normalItem {
  background-color: #ffffff;
}
*/

.app .content {
    background-color: #EEEEEE;
    overflow: hidden;
    margin-left: 220px;
    margin-right: 20px;
    padding-bottom: 40px;
    min-height: 600px;
  height:100%;
}

.app .content .content-container{
  margin-top: 20px;
}
