<div class="content">
  <nav-position [items]="position"></nav-position>
  <h3>产品列表</h3>

  <p-tabView [style]="{'background': '#eee'}" (onChange)="changeTab($event)">
    <p-tabPanel header="产品列表" [selected]="ifTab1Active">
      <div class="form">
        <form>
          <div>
            <label for="searchName">产品名称</label>
            <input type="text" name="name-searchName" id="searchName" pInputText placeholder="请输入产品名称"
                   [(ngModel)]="searchName"/>
          </div>
          <div>
            <label for="searchRemarks">产品备注</label>
            <input type="text" name="name-searchRemarks" id="searchRemarks" pInputText placeholder="请输入产品备注"
                   [(ngModel)]="searchRemarks"/>
          </div>

          <!--<div>-->
          <!--<label for="searchType">产品类型</label>-->
          <!--<p-dropdown [style]="{'width': '150px;'}" id="searchType" name="name-searchType"-->
          <!--[options]="productsTypes"-->
          <!--[(ngModel)]="searchType" placeholder="选择分类"></p-dropdown>-->
          <!--</div>-->

          <div>
            <label>创建时间</label>
            <p-calendar name="name-searchBeginTime" [(ngModel)]="searchBeginTime" [showIcon]="true"
                        dateFormat="yy-mm-dd"
                        [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
            <div class="intervalLine">-</div>
            <p-calendar name="name-searchEndTime" [(ngModel)]="searchEndTime" [showIcon]="true"
                        dateFormat="yy-mm-dd"
                        [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"></p-calendar>
          </div>
          <div>
            <button pButton type="button" label="搜索" (click)="search()"></button>
          </div>
          <div>
            <button pButton type="button" label="重置" (click)="reset()"></button>
          </div>
        </form>
      </div>

      <div style="width: 100%;margin-bottom: 20px;">
        <button type="button" class="ui-button-secondary" pButton label="批量指定销售区域"></button>
        <button type="button" class="ui-button-secondary" pButton label="批量启用"></button>
        <button type="button" class="ui-button-secondary" pButton label="批量停用"></button>
        <button type="button" class="ui-button-secondary" pButton label="批量合并"></button>
        <button type="button" class="ui-button-secondary" pButton icon="fa-trash" style="float:right" (click)="batchDel()"
                label="批量删除" [disabled]="selectedProducts.length == 0"></button>
      </div>

      <p-dataTable [value]="products" [rows]="10" [paginator]="true" [pageLinks]="3" emptyMessage="未查询到相关记录"
                   [rowsPerPageOptions]="[5,10,20]">
        <p-column [style]="{'width':'10%;', 'margin-top': '20px', 'text-align': 'center'}" field="id">
          <template pTemplate="header">
            <p-checkbox name="groupname" value="" [(ngModel)]="ifAllSelected" (onChange)="selectAll()" binary="true"
                        label="全选"></p-checkbox>
          </template>
          <template let-col let-product="rowData" pTemplate="body">
            <p-checkbox name="groupname" [value]="product.id" [(ngModel)]="selectedProducts"></p-checkbox>
          </template>
        </p-column>
        <p-column [style]="{'width': '10%', 'margin-top': '20px', 'text-align': 'center'}" field="name"
                  header="姓名"></p-column>
        <p-column [style]="{'width':'10%', 'margin-top': '20px', 'text-align': 'center'}" field="email"
                  header="邮箱"></p-column>
        <p-column [style]="{'width':'10%', 'margin-top': '20px', 'text-align': 'center'}" field="type"
                  header="类别"></p-column>
        <p-column [style]="{'width':'10%', 'margin-top': '20px', 'text-align': 'center'}" field="remarks"
                  header="备注"></p-column>
        <p-column [style]="{'width':'50%', 'margin-top': '20px', 'text-align': 'center'}" field="operation" header="操作">
          <template let-col let-product="rowData" pTemplate="body">
            <button type="button" pButton class="ui-button-secondary" icon="fa-pencil" (click)="edit(product)"
                    label="编辑"></button>
            <button type="button" pButton class="ui-button-secondary" icon="fa-trash" (click)="delete(product)"
                    label="删除"></button>
            <button type="button" pButton class="ui-button-secondary" icon="fa-plus-circle" (click)="addPlan()"
                    label="添加计划单" disabled></button>
          </template>
        </p-column>
      </p-dataTable>
    </p-tabPanel>
    <p-tabPanel [header]="newTabPanel" leftIcon="fa-plus" [selected]="ifTab2Active">
      <div class="newTabPanel">
        <!--<form>-->
        <div class="product-details">
          <label for="product_name">姓名</label>
          <input type="text" id="product_name" pInputText name="product_name"
                 [(ngModel)]="product_name"/>
        </div>
        <div class="product-details">
          <label for="product_age">年龄</label>
          <input type="number" id="product_age" pInputText name="product_age"
                 [(ngModel)]="product_age"/>
        </div>
        <!--<div class="product-details">-->
          <!--<label for="product_birthday">生日</label>-->
          <!--<p-calendar id="product_birthday" name="product_birthday" [(ngModel)]="product_birthday" [showIcon]="true"-->
                      <!--dateFormat="yy-mm-dd"-->
                      <!--[monthNavigator]="true" [yearNavigator]="true" yearRange="1960:2017"></p-calendar>-->
        <!--</div>-->
        <div class="product-details">
          <label for="product_email">邮箱</label>
          <input type="email" pInputText id="product_email" name="email"
                 [(ngModel)]="product_email"/><span style="color: red">*</span>
        </div>
        <div class="product-details">
          <label for="product_password">密码</label>
          <input type="password" pInputText id="product_password" name="password"
                 [(ngModel)]="product_password"/><span style="color: red">*</span>
        </div>
        <div class="product-details">
          <p-checkbox id="product-details" name="product_ifEnable" label="是否启用" value="" binary="true"
                      [(ngModel)]="product_ifEnable"></p-checkbox>
        </div>
        <div class="product-details">
          <label for="product_score">评分数</label>
          <input type="text" pInputText id="product_score" name="product_score"
                 [(ngModel)]="product_score"/><span style="color: red">*</span>
        </div>
        <div class="product-details">
          <label for="product_hits">点击数</label>
          <input type="number" pInputText id="product_hits" name="product_hits"
                 [(ngModel)]="product_hits"/><span style="color: red">*</span>
        </div>
        <div class="product_btn">
          <button type="text" pButton label="取消" class="ui-button-secondary" (click)="product_cancel()"></button>
          <button type="text" pButton label="保存" icon="fa-check" (click)="product_save()"></button>
        </div>
        <!--</form>-->

      </div>
    </p-tabPanel>
  </p-tabView>

  <!--<div class="ui-helper-clearfix" style="width:100%">-->
  <!--<button type="button" pButton icon="fa-plus" style="float:right" (click)="add()" label="添加产品"></button>-->
  <!--</div>-->


  <p-dialog header="产品信息" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="product">
      <div class="ui-grid-row">
        <div class="ui-grid-col-4"><label for="name">产品名称</label></div>
        <div class="ui-grid-col-8"><input id="name" pInputText [(ngModel)]="product.name"/></div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4"><label for="type">产品类型</label></div>
        <div class="ui-grid-col-8"><input id="type" pInputText [(ngModel)]="product.type"/></div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
        <button pButton type="text" icon="fa-check" (click)="save()" label="保存"></button>
        <button pButton type="text" icon="fa-times" (click)="cancel()" label="取消"></button>
      </div>
    </p-footer>
  </p-dialog>


  <p-confirmDialog [header]="dialogHeader" acceptLabel="确定"  rejectLabel="取消" icon="fa fa-question-circle" width="425"></p-confirmDialog>

  <p-dialog header="异常提示" showHeader="false" closeOnEscape="false" [(visible)]="ifException" modal="true" width="500" responsive="true" closable="false">
    <p>{{myException}}</p>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
        <button type="button" pButton (click)="goLogin()" label="确定"></button>
      </div>
    </p-footer>
  </p-dialog>


</div>
