<div class="banner">
  <div class="bannerLogo">
    <div class="logoBG">
      <img src="../../../../assets/imgs/logo.png" alt="">
    </div>
  </div>

  <nav>
    <ul>
      <li class="l-left" *ngFor="let item of topMenu"  (click)="clickMenu(item.id)"
          [routerLink]="item.path"
          [ngClass]="{selectedMenu: selectedMenu == item.id, normalMenu: selectedMenu != item.id}" >{{item.label}}
      </li>
    </ul>
    <ul class="l-right">
      <li class="l-right" (click)="logout()">退出</li>
      <li class="l-right" style="margin:0 20px;"><span style="background:#fff;color:#1aa8dd;border-radius:5px;padding: 0px 5px;">14</span></li>
      <li class="l-right">你好，{{userName}}</li>
    </ul>
  </nav>
</div>

<p-confirmDialog key="topmenuDialogKey" width="500" acceptLabel="确定" rejectLabel="取消" [closable]="false" [closeOnEscape]="false"></p-confirmDialog>

<p-dialog header="异常提示" [(visible)]="ifException" modal="true" dismissableMask="true" width="300" responsive="true" >
  <p>{{myException}}</p>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton (click)="ifException = false" label="确定"></button>
    </div>
  </p-footer>
</p-dialog>

