<div class="banner">
  <div class="bannerLogo">
    <div class="logoBG">
      <img src="../../../../assets/imgs/logo.png" alt="">
    </div>
  </div>

  <nav>
    <ul>
      <li class="l-left" *ngFor="let item of topMenu"  (click)="clickMenu(item.id)"
          [routerLink]="item.path"
          [ngClass]="{selectedMenu: selectedMenu == item.id, normalMenu: selectedMenu != item.id}" >{{item.label}}
      </li>
    </ul>
    <ul class="l-right">
      <li class="l-right ">退出</li>
      <li class="l-right" style="margin:0 20px;"><span style="background:#fff;color:#1aa8dd;border-radius:5px;padding: 0px 5px;">14</span></li>
      <li class="l-right">你好，Guzilong</li>
    </ul>
  </nav>


</div>
