<div class="app">
  <div class="aside">
    <!--<button (click)="expand()">Open</button>
    <button (click)="collapse()">Closed</button>
    <hr />
    <div class="toggle-container" [@openClose]="stateExpression">
      Look at this box
    </div>-->


    <ul>
      <a *ngFor="let menu of leftMenu;let i = index" [ngClass]="{menuActive: selectedItem == menu.id}">
        <div *ngIf="menu.children.length == 0">
          <li (click)="clickItem(menu)" [routerLink]="menu.path" routerLinkActive="active">
            <i [class]="menu.icon" aria-hidden="true"></i>
            <span>{{menu.label}}</span>
            <!--<span *ngIf="menu.children"><span class="caret"></span></span>-->
          </li>
        </div>

        <div *ngIf="menu.children.length != 0">
          <li (click)="clickItem(menu)">
            <i [class]="menu.icon" aria-hidden="true"></i>
            <span>{{menu.label}}</span>
            <span><span class="caret"></span></span>
          </li>
          <div class="childMenu" [@toggle]="menu.expression">
            <a *ngFor="let childmenu of menu.children" [routerLink]="childmenu.path" routerLinkActive="active"
               [ngClass]="{menuActive: selectedChildItem == childmenu.id}" (click)="clickChildItem(childmenu.id)">
              <li>
                <i class="{{childmenu.icon}}" aria-hidden="true"></i>
                <span>{{childmenu.label}}</span>
              </li>
            </a>
          </div>
        </div>
      </a>

      <!-- <a routerLink="overview"
          routerLinkActive="active"
          [ngClass]="{selected: selectedItem == 1, normalItem: selectedItem != 1}"
          (click)="clickItem(1)">
         <li>
           <i class="fa fa-home" aria-hidden="true"></i>
           <span>首页</span>
         </li>
       </a>
       <a routerLink="product-manage" routerLinkActive="active"
          [ngClass]="{selected: selectedItem == 2, normalItem: selectedItem != 2}"
          (click)="clickItem(2)">
         <li>
           <i class="fa fa-home" aria-hidden="true"></i>
           <span>产品管理<span class="caret"></span></span>
         </li>
         <div class="childMenu">
           <a routerLink="overview"
              routerLinkActive="active"
              [ngClass]="{selected: selectedItem == 1, normalItem: selectedItem != 1}"
              (click)="clickItem()">
             <li>
               <i class="fa fa-home" aria-hidden="true"></i>
               <span>添加产品</span>
             </li>
           </a>
         </div>
       </a>
       <a routerLink="plan-order"
          routerLinkActive="active"
          [ngClass]="{selected: selectedItem == 3, normalItem: selectedItem != 3}"
          (click)="clickItem(3)">
         <li>
           <i class="fa fa-home" aria-hidden="true"></i>
           <span>计划单<span class="caret"></span></span>
         </li>
       </a>
       <a routerLink="distribution-manage"
          routerLinkActive="active"
          [ngClass]="{selected: selectedItem == 4, normalItem: selectedItem != 4}"
          (click)="clickItem(4)">
         <li>
           <i class="fa fa-home" aria-hidden="true"></i>
           <span>铺货管理</span>
         </li>
       </a>
       <a routerLink="operation-center"
          routerLinkActive="active"
          [ngClass]="{selected: selectedItem == 5, normalItem: selectedItem != 5}"
          (click)="clickItem(5)">
         <li>
           <i class="fa fa-home" aria-hidden="true"></i>
           <span>运营中心</span>
         </li>
       </a>
       <a routerLink="data-statistics"
          routerLinkActive="active"
          [ngClass]="{selected: selectedItem == 6, normalItem: selectedItem != 6}"
          (click)="clickItem(6)">
         <li>
           <i class="fa fa-home" aria-hidden="true"></i>
           <span>数据统计</span>
         </li>
       </a>
       <a routerLink="traceability-manage"
          routerLinkActive="active"
          [ngClass]="{selected: selectedItem == 7, normalItem: selectedItem != 7}"
          (click)="clickItem(7)">
         <li>
           <i class="fa fa-home" aria-hidden="true"></i>
           <span>溯源管理</span>
         </li>
       </a>
       <a routerLink="exception-query"
          routerLinkActive="active"
          [ngClass]="{selected: selectedItem == 8, normalItem: selectedItem != 8}"
          (click)="clickItem(8)">
         <li>
           <i class="fa fa-home" aria-hidden="true"></i>
           <span>异常查询</span>
         </li>
       </a>-->
    </ul>
  </div>


  <div class="content">
    <div class="content-container">
      <div class="content-box">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

