<div class="mainPart" role="main">
  <div style="padding-top:18%;text-align: center;">
    <div style="margin:auto;overflow: hidden;display: inline-block">
      <div style="float:left;margin-top:43px;margin-right:20px;">
        <img src="../../../../assets/imgs/warn.png" />
      </div>
      <div style="float:left;">
        <p style="font-size:30px;color:#17a3d7;text-align: left">哎呀，页面找不到了！</p>
        <div style="color:#666;font-size:16px;text-align: left">
          <p>亲爱的用户，此页面暂时无法访问。</p>
          <p>我们的工程师正在努力完善问题，请稍后尝试。</p>
          <p>或者您也可以看看我们的官网<a style="color:#17a3d7" href="http://www.mindmedia.cn/" target="_blank">在乎传媒</a> ，她比我漂亮多了。</p>
        </div>
      </div>

    </div>
  </div>
</div>



