<div class="login ">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
    <div class="ui-grid">
      <div class="ui-grid-col-12">
        <h1 style="color:#666;">企业登录</h1>
        <ul>
          <li>
            <div class="item">
              <span class="fa fa-user"></span>
              <input pInputText type="text" formControlName="username" required placeholder="用户名"/>
            </div>
            <div *ngIf="formErrors.username" class="alert alert-danger">
              {{ formErrors.username }}
            </div>

          </li>

          <li>
            <div class="item">
              <span class="fa fa-lock"></span>
              <input type="text" pInputText formControlName="password" required
                     placeholder="密码"/>
            </div>
            <div *ngIf="formErrors.password" class="alert alert-danger">
              {{ formErrors.password }}
            </div>
          </li>
        </ul>
        <div>
          <input pInputText type="hidden" formControlName="result"/>
          <div *ngIf="formErrors.result" class="alert alert-danger">
            {{ formErrors.result }}
          </div>
        </div>
      </div>
    </div>
    <!--<div style="font-size:12px;">-->
    <!--<p-checkbox name="forgetPass" [value]="autoLogin" formControlName="forgetPass" binary="true"></p-checkbox>-->
    <!--自动登录-->
    <!--<div class="fr"><a routerLinkActive="active" routerLink="forgetPass" style="color:#666;text-decoration: none">无法登陆/忘记密码？</a>-->
    <!--</div>-->
    <!--</div>-->
    <div style="clear:both">
      <button pButton type="submit" label="登录" [ngClass]="{disabled:!loginForm.valid}"
              [disabled]="!loginForm.valid">
      </button>
    </div>
  </form>

  <footer>
    <p>关于我们 服务与支持 常见问题 人才招聘 加盟合作</p>
    <p>版权所有@ 2015 - 2016 深圳在乎传媒科技有限公司 粤ICP备15107022-1号</p>
  </footer>


</div>
