<div class="login-bg">
    此页为登录页
    <button (click)='login()'>登录</button>

  <div class="login-input">
    <p>企业登录</p>
    <!--<form>-->
      <!--<div>-->
        <!--<label for="userName">用户名</label>-->
        <!--<i class="fa fa-user" aria-hidden="true"></i>-->
        <!--<input id="userName" type="text" pInputText >-->
      <!--</div>-->
      <!--<div>-->
        <!--<label for="password">用户名</label>-->
        <!--<i class="fa fa-user" aria-hidden="true"></i>-->
        <!--<input id="password" type="password" pPassword >-->
      <!--</div>-->
      <!--<div class="tips">-->
        <!--用户名或密码不正确，请重新输入。-->
      <!--</div>-->
    <!--</form>-->

    <!--<form>-->
      <!--<ul>-->
        <!--<li>-->
          <!--<input type="text" pInputText placeholder="用户名"/>-->
        <!--</li>-->
        <!--<li>-->
          <!--<input type="password" pPassword placeholder="密码"/>-->
        <!--</li>-->
        <!--<li>-->
          <!--<input type="submit" value="登录" (click)="login()" class="button"/>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</form>-->

  </div>
</div>
