<div class="">
  <nav-position [items]="position"></nav-position>
  <h3>用户列表</h3>

  <p-tabView [style]="{'background': '#eee'}" (onChange)="changeTab($event)">

    <p-tabPanel header="用户列表" [selected]="ifTab1Active">
      <div class="content">
        <div class="form">
          <form>
            <div>
              <label for="searchName">登录名</label>
              <input type="text" name="name-searchName" id="searchName" pInputText placeholder="请输入登录名称"
                     [(ngModel)]="searchForm.loginName"/>
            </div>
            <div>
              <label for="searchRemarks">姓名</label>
              <input type="text" name="name-searchRemarks" id="searchRemarks" pInputText placeholder="请输入产品备注"
                     [(ngModel)]="searchForm.name"/>
            </div>
            <div>
              <label for="searchRemarks">是否可登录</label>
              <p-radioButton name="is_login" value="1" [(ngModel)]="searchForm.is_login"></p-radioButton>
              <p-radioButton name="is_login" value="2" [(ngModel)]="searchForm.is_login"></p-radioButton>
            </div>

            <div>
              <button pButton type="button" label="搜索" (click)="search()"></button>
            </div>
            <div>
              <button pButton type="button" label="重置" (click)="reset()"></button>
            </div>
          </form>
        </div>
      </div>


      <div style="margin-bottom:20px;overflow: hidden">
        <button type="button"  class="ui-button-secondary" pButton icon="fa-trash"  (click)="batchDel()"  label="批量删除" [disabled]="selectedUsers.length == 0"></button>
      </div>




      <p-dataTable [value]="users" [rows]="10" [paginator]="true" [pageLinks]="3" emptyMessage="未查询到相关记录"  [rowsPerPageOptions]="[5,10,20]">
        <p-column [style]="{'width':'5%', 'margin-top': '20px', 'text-align': 'center'}" field="id">
          <template pTemplate="header">
            <p-checkbox name="groupname" value="" [(ngModel)]="ifAllSelected" (onChange)="selectAll()" binary="true" label="全选"></p-checkbox>
          </template>
          <template let-col let-user="rowData" pTemplate="body">
            <p-checkbox name="groupname" [value]="user.id" [(ngModel)]="selectedUsers"></p-checkbox>
          </template>
        </p-column>


        <p-column [style]="{'width': '10%', 'margin-top': '20px', 'text-align': 'center'}" field="loginName"
                  header="登录名"></p-column>
        <p-column [style]="{'width':'10%', 'margin-top': '20px', 'text-align': 'center'}" field="username"
                  header="姓名"></p-column>
        <p-column [style]="{'width':'10%', 'margin-top': '20px', 'text-align': 'center'}" field="userNo"
                  header="工号"></p-column>
        <p-column [style]="{'width':'10%', 'margin-top': '20px', 'text-align': 'center'}" field="last_logtime"
                  header="最后登录时间"></p-column>
        <p-column [style]="{'width':'10%', 'margin-top': '20px', 'text-align': 'center'}" field="is_login" header="是否可登录"></p-column>
        <p-column [style]="{'width':'10%', 'margin-top': '20px', 'text-align': 'center'}" field="last_edituser"
                  header="最后修改人"></p-column>
        <p-column [style]="{'width':'10%', 'margin-top': '20px', 'text-align': 'center'}" field="last_edittime"
                  header="最后修改时间"></p-column>
        <p-column [style]="{'width':'10%', 'margin-top': '20px', 'text-align': 'center'}" field="remarks"
                  header="备注"></p-column>

        <p-column [style]="{'width':'15%', 'margin-top': '20px', 'text-align': 'center'}" field="operation" header="操作">
          <template let-col let-product="rowData" pTemplate="body">
            <button type="button" pButton class="ui-button-secondary" icon="fa-pencil" (click)="edit(product)"  label="修改"></button>
            <button type="button" pButton class="ui-button-secondary" icon="fa-trash" (click)="delete(product)" label="删除"></button>
          </template>
        </p-column>

      </p-dataTable>
    </p-tabPanel>
    <p-tabPanel [header]="newTabPanel" leftIcon="fa-plus" [selected]="ifTab2Active">
        <div class="newTabPanel">
          <form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)">
              <div>
                <div class="product-details" style="width:100%">
                    <label>*登录名:</label>
                    <input pInputText type="text" formControlName="loginName" placeholder="请输入登录名"/>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="formErrors.loginName">
                      <i class="fa fa-close"></i>
                      {{ formErrors.loginName }}
                    </div>
                </div>

                <div class="product-details" style="width:100%">
                    <label> 密码: </label>
                    <input pInputText type="text" formControlName="password" placeholder="请输入密码"/>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="formErrors.password">
                      <i class="fa fa-close"></i>
                      {{ formErrors.password }}
                    </div>

                </div>

                <div class="product-details" style="width:100%">
                    <label> *姓名:</label>
                    <input pInputText type="text" formControlName="username" placeholder="请输入姓名"/>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="formErrors.username">
                      <i class="fa fa-close"></i>
                      {{ formErrors.username }}
                    </div>
                </div>

                <div class="product-details" style="width:100%">
                  <label> 工号: </label>

                    <input pInputText type="text" formControlName="userNo" placeholder="请输入工号"/>
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="formErrors.userNo">
                      <i class="fa fa-close"></i>
                      {{ formErrors.userNo }}
                    </div>

                </div>

                <div class="product-details" style="width:100%">
                  <label  >
                    是否可登录:
                  </label>

                    <p-radioButton name="is_login" value="1" formControlName="is_login"></p-radioButton>
                    <p-radioButton name="is_login" value="2" formControlName="is_login"></p-radioButton>

                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="formErrors.is_login">
                      <i class="fa fa-close"></i>
                      {{ formErrors.is_login}}
                    </div>

                </div>

                <div class="product-details" style="width:100%">
                  <label  >
                    用户角色:
                  </label>

                    <p-checkbox name="role"  formControlName="role" binary="true"></p-checkbox> 超级管理员

                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="formErrors.role">
                      <i class="fa fa-close"></i>
                      {{ formErrors.role }}
                    </div>

                </div>

                <div class="product-details" style="width:100%">

                    备注:  <input pInputText type="text" formControlName="remarks" placeholder="请输入密码"/>

                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="formErrors.remarks">
                      <i class="fa fa-close"></i>
                      {{ formErrors.remarks }}
                    </div>

                </div>


                <div class="product-details">
                  <button pButton type="button" label="返回"  (click)="backToList()"></button>
                    <button pButton type="submit" label="保存" ></button>

                </div>

              </div>
          </form>
        </div>
    </p-tabPanel>
  </p-tabView>


  <p-confirmDialog key="usermanageDialogKey"  acceptLabel="确定"  rejectLabel="取消" icon="fa fa-question-circle" width="425" closeOnEscape="false"></p-confirmDialog>


</div>
