<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
          <left-nav></left-nav>
        </div>
        <!-- top navigation -->
        <div class="top_nav">
          <top-menu></top-menu>
        </div>
        <!-- /top navigation -->
        <!-- page content -->
        <div class="right_col" role="main">
            <router-outlet></router-outlet>
        </div>
        <!-- /page content -->
        <!-- footer content -->
        <footer-info></footer-info>
        <!-- /footer content -->
    </div>
</div>