<p-tabView activeIndex=2>
  <p-tabPanel header="计划单列表">
    <p-dataTable [value]="planData" [rows]="10" >
      <p-column field="selectAll" header="全选">
        <template pTemplate="header">
          <p-checkbox name="groupname" value="" [(ngModel)]="checked" (onChange)="selectAllPlan(checked)" binary="true"></p-checkbox>
        </template>
        <template let-col let-plan="rowData" pTemplate="body">
          <p-checkbox name="groupname" [value]="plan.id"  [(ngModel)]="selectAll" (onChange)="selectPlan(plan)"></p-checkbox>
        </template>
      </p-column>

      <p-column field="planInfo" header="计划单信息">
        <template let-col let-product="rowData" pTemplate="body">
          <p>产品：3.17的产品</p>
          <p>计划单：4343</p>
          <p>编号：G20170321094337822</p>
        </template>
      </p-column>

      <p-column field="qrcodeInfo" header="扫码信息">
        <template let-col let-product="rowData" pTemplate="body">
          <p>厂商：丽鹏股份</p>
          <p>类型： 瓶码 / 内码</p>
          <p>数量：3个</p>
        </template>
      </p-column>

      <p-column field="createTime" header="时间/状态">
        <template let-col let-product="rowData" pTemplate="body">
          <p>状态： 已完工</p>
          <p>创建：2017-03-21</p>
          <p>截止：2017-03-21</p>
        </template>
      </p-column>

      <p-column field="status" header="操作">
        <template let-col let-product="rowData" pTemplate="body">
          <button type="button" pButton icon="fa-pencil" (click)="edit(product)" label="编辑"></button>
          <button type="button" pButton icon="fa-pencil" (click)="delete(product)" label="删除"></button>
          <button type="button" pButton icon="fa-plus-circle" (click)="addPlan()" label="铺货"></button>
        </template>
      </p-column>
    </p-dataTable>
  </p-tabPanel>
  <p-tabPanel header="添加计划单">
    <add-plan></add-plan>
  </p-tabPanel>
</p-tabView>
