.content form div {
  display: inline-block;
  margin-right: 18px;
}

.content form div:nth-child(n + 4) {
  float: right;
  margin-right: 30px;
}

.form {
  margin-top: 8px;
  margin-bottom: 20px;
  background: #F0F1F4;
  border: 1px solid #ddd;
  padding: 20px;
  color: #666;
}

p-tabView ul {
  padding: 0;
}

p-tabView ul + div {
  background: white;
}

.content p-tabView{
  background-color: green;
}

.intervalLine {
  margin-left: 33px;
  margin-right: 0 !important;
}

table {
  margin-top: 20px;
}

.newTabPanel{
  background: #F0F1F4;
  border: 1px solid #ddd;

  .product-details{
    //width: 100%;
    padding: 10px 0 10px 15px;
  }
}

.product_btn{
  padding: 10px 0 10px 15px;
  button:nth-child(1){
    margin-left: 10px;
  }

  button:nth-child(2){
    margin-left: 30px;
  }
}


