/* Master Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body {
  margin: 0;
  height: 100%;
  background-color: #eee;
}

.ui-tabview-panel {
  background-color: white !important;
}

.ui-tabview.ui-tabview-top > .ui-tabview-nav {
  padding: 0;
}
