/* Master Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body {
  margin: 0;
  height: 100%;
  background-color: #eee;
}

.ui-tabview-panel {
  background-color: white !important;
}

.ui-tabview.ui-tabview-top > .ui-tabview-nav {
  padding: 0;
}

/*修改ui-button-secondary鼠标悬停的时候的默认的按钮样式*/
.ui-button.ui-button-secondary:enabled:hover, .ui-button.ui-button-secondary:focus{
  color: #373a3c;border: 1px solid #ccc;
}
/*修改表格没有数据时，提示的文字居中*/
.ui-datatable .ui-datatable-data>tr>td{
  text-align: center;
}
//修改树形菜单，与label保持在同一行
.ui-tree {
  display: inline-table;
}
